@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}
#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the background */
    z-index: -1;
    filter: blur(3px); /* Apply blur effect */
}

/* Dark overlay */
#bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Dark with 50% opacity */
    z-index: 0; /* Above video but below other content */
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Edu VIC WA NT Beginner";
    color: white;
    font-size: 5rem;
    position: relative;
}
#button-el {
    width: 30rem;
    height: 10rem;
    font-family: "Edu VIC WA NT Beginner";
    border: 1px solid white;
    background-color: transparent;
    color: rgb(247, 245, 245);
    cursor: pointer;
    font-size: 3rem;
}
#message-el {
    text-align: center;
    margin-bottom: 49px;
}
#socialmedia-el {
    font-size: 1rem;
    display: none;
    text-align: center;
}
#again-el {
    font-size: 1rem;
    display: none;
    text-align: center;
}
#click-el {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 480px) {
    .container {
        height: 80%;
        width: 90%;
        font-size: 3rem;
    }
    #button-el {
        width: 7rem;
        height: 2rem;
        font-size: 0.9rem;
    }
    #message-el {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    #socialmedia-el {
        font-size: 10px;
    }
}